
WikiAnimal/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
WikiAnimal/obj/Debug/netcoreapp3.1/App.g.i.cs
WikiAnimal/obj/Debug/netcoreapp3.1/MainWindow.g.i.cs
WikiAnimal/obj/Debug/netcoreapp3.1/WikiAnimal.AssemblyInfo.cs
WikiAnimal/obj/Debug/netcoreapp3.1/WikiAnimal.AssemblyInfoInputs.cache
WikiAnimal/obj/Debug/netcoreapp3.1/WikiAnimal.assets.cache
WikiAnimal/obj/Debug/netcoreapp3.1/WikiAnimal.csprojAssemblyReference.cache
WikiAnimal/obj/Debug/netcoreapp3.1/WikiAnimal.designer.deps.json
WikiAnimal/obj/Debug/netcoreapp3.1/WikiAnimal.designer.runtimeconfig.json
WikiAnimal/obj/Debug/netcoreapp3.1/WikiAnimal_MarkupCompile.i.cache
WikiAnimal/obj/project.assets.json
WikiAnimal/obj/project.nuget.cache
WikiAnimal/obj/WikiAnimal.csproj.nuget.dgspec.json
WikiAnimal/obj/WikiAnimal.csproj.nuget.g.props
WikiAnimal/obj/WikiAnimal.csproj.nuget.g.targets
WikiAnimal/.vs/WikiAnimal/DesignTimeBuild/.dtbcache.v2
WikiAnimal/.vs/WikiAnimal/v16/.suo
