
WikiAnimal/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
WikiAnimal/obj/Debug/netcoreapp3.1/App.g.i.cs
WikiAnimal/obj/Debug/netcoreapp3.1/MainWindow.g.i.cs
WikiAnimal/obj/Debug/netcoreapp3.1/WikiAnimal.AssemblyInfo.cs
WikiAnimal/obj/Debug/netcoreapp3.1/WikiAnimal.AssemblyInfoInputs.cache
WikiAnimal/obj/Debug/netcoreapp3.1/WikiAnimal.assets.cache
WikiAnimal/obj/Debug/netcoreapp3.1/WikiAnimal.csprojAssemblyReference.cache
WikiAnimal/obj/Debug/netcoreapp3.1/WikiAnimal.designer.deps.json
WikiAnimal/obj/Debug/netcoreapp3.1/WikiAnimal.designer.runtimeconfig.json
WikiAnimal/obj/Debug/netcoreapp3.1/WikiAnimal_MarkupCompile.i.cache
WikiAnimal/obj/project.assets.json
WikiAnimal/obj/project.nuget.cache
WikiAnimal/obj/WikiAnimal.csproj.nuget.dgspec.json
WikiAnimal/obj/WikiAnimal.csproj.nuget.g.props
WikiAnimal/obj/WikiAnimal.csproj.nuget.g.targets
WikiAnimal/.vs/WikiAnimal/DesignTimeBuild/.dtbcache.v2
WikiAnimal/.vs/WikiAnimal/v16/.suo
WikiAnimal/bin/Debug/netcoreapp3.1/WikiAnimal.pdb
WikiAnimal/bin/Debug/netcoreapp3.1/WikiAnimal.exe
WikiAnimal/bin/Debug/netcoreapp3.1/WikiAnimal.dll
WikiAnimal/bin/Debug/netcoreapp3.1/WikiAnimal.deps.json
WikiAnimal/bin/Debug/netcoreapp3.1/System.Runtime.Caching.dll
WikiAnimal/bin/Debug/netcoreapp3.1/System.IdentityModel.Tokens.Jwt.dll
WikiAnimal/bin/Debug/netcoreapp3.1/System.Diagnostics.DiagnosticSource.dll
WikiAnimal/bin/Debug/netcoreapp3.1/System.Collections.Immutable.dll
WikiAnimal/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.1/Microsoft.Data.SqlClient.dll
WikiAnimal/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.0/System.Runtime.Caching.dll
WikiAnimal/bin/Debug/netcoreapp3.1/runtimes/win-x86/native/sni.dll
WikiAnimal/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/sni.dll
WikiAnimal/bin/Debug/netcoreapp3.1/runtimes/win-arm64/native/sni.dll
WikiAnimal/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.1/Microsoft.Data.SqlClient.dll
WikiAnimal/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.0/System.Runtime.Caching.dll
WikiAnimal/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
WikiAnimal/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Tokens.dll
WikiAnimal/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
WikiAnimal/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Protocols.dll
WikiAnimal/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Logging.dll
WikiAnimal/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.JsonWebTokens.dll
WikiAnimal/bin/Debug/netcoreapp3.1/Microsoft.Identity.Client.dll
WikiAnimal/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Primitives.dll
WikiAnimal/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Options.dll
WikiAnimal/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.dll
WikiAnimal/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Abstractions.dll
WikiAnimal/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.dll
WikiAnimal/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.Abstractions.dll
WikiAnimal/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.dll
WikiAnimal/obj/Debug/netcoreapp3.1/WikiAnimal_MarkupCompile.lref
WikiAnimal/obj/Debug/netcoreapp3.1/WikiAnimal_MarkupCompile.cache
WikiAnimal/obj/Debug/netcoreapp3.1/WikiAnimal.pdb
WikiAnimal/obj/Debug/netcoreapp3.1/WikiAnimal.genruntimeconfig.cache
WikiAnimal/obj/Debug/netcoreapp3.1/WikiAnimal.g.resources
WikiAnimal/obj/Debug/netcoreapp3.1/WikiAnimal.exe
WikiAnimal/obj/Debug/netcoreapp3.1/WikiAnimal.dll
WikiAnimal/obj/Debug/netcoreapp3.1/WikiAnimal.csproj.FileListAbsolute.txt
WikiAnimal/obj/Debug/netcoreapp3.1/WikiAnimal.csproj.CoreCompileInputs.cache
WikiAnimal/obj/Debug/netcoreapp3.1/WikiAnimal.csproj.CopyComplete
WikiAnimal/obj/Debug/netcoreapp3.1/MainWindow.g.cs
WikiAnimal/obj/Debug/netcoreapp3.1/MainWindow.baml
WikiAnimal/obj/Debug/netcoreapp3.1/App.g.cs
WikiAnimal/bin/Debug/netcoreapp3.1/WikiAnimal.runtimeconfig.json
WikiAnimal/bin/Debug/netcoreapp3.1/WikiAnimal.runtimeconfig.dev.json
WikiAnimal/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Binder.dll
WikiAnimal/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Abstractions.dll
WikiAnimal/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Memory.dll
WikiAnimal/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Abstractions.dll
WikiAnimal/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.SqlServer.dll
WikiAnimal/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Relational.dll
WikiAnimal/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.dll
WikiAnimal/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Abstractions.dll
WikiAnimal/bin/Debug/netcoreapp3.1/Microsoft.Data.SqlClient.dll
WikiAnimal/bin/Debug/netcoreapp3.1/Microsoft.Bcl.HashCode.dll
WikiAnimal/bin/Debug/netcoreapp3.1/Microsoft.Bcl.AsyncInterfaces.dll
.vs/WikiAnimal/v16/.suo
Server/obj/Server.csproj.nuget.g.targets
Server/obj/Server.csproj.nuget.g.props
Server/obj/Server.csproj.nuget.dgspec.json
Server/obj/project.nuget.cache
Server/obj/project.assets.json
Server/obj/Debug/netcoreapp3.1/Server.pdb
Server/obj/Debug/netcoreapp3.1/Server.genruntimeconfig.cache
Server/obj/Debug/netcoreapp3.1/Server.exe
Server/obj/Debug/netcoreapp3.1/Server.dll
Server/obj/Debug/netcoreapp3.1/Server.csprojAssemblyReference.cache
Server/obj/Debug/netcoreapp3.1/Server.csproj.FileListAbsolute.txt
Server/obj/Debug/netcoreapp3.1/Server.csproj.CoreCompileInputs.cache
Server/obj/Debug/netcoreapp3.1/Server.csproj.CopyComplete
Server/obj/Debug/netcoreapp3.1/Server.assets.cache
Server/obj/Debug/netcoreapp3.1/Server.AssemblyInfoInputs.cache
Server/obj/Debug/netcoreapp3.1/Server.AssemblyInfo.cs
Server/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Server/bin/Debug/netcoreapp3.1/Server.runtimeconfig.json
Server/bin/Debug/netcoreapp3.1/Server.runtimeconfig.dev.json
Server/bin/Debug/netcoreapp3.1/Server.pdb
Server/bin/Debug/netcoreapp3.1/Server.exe
Server/bin/Debug/netcoreapp3.1/Server.dll
Server/bin/Debug/netcoreapp3.1/Server.deps.json
Server/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
.vs/WikiAnimal/DesignTimeBuild/.dtbcache.v2
WikiAnimal/obj/Debug/netcoreapp3.1/WikiAnimal_MarkupCompile.i.lref
